.grid_12.alpha.omega
  #car-list
    %ul
      -for car in @cars
        %li
          %a{:href=>"cars/#{car.id}"}#{car.year} #{car.make} #{car.model} #{car.trim}
      %li
        %a{:href=>"cars/new"}Add car