!!!
%html
  %head
    %link{:rel => 'shortcut icon', :href => 'favicon.ico'}
    %title= "Oilzilla | " + controller.controller_name.capitalize.humanize
    =stylesheet_link_tag :all, :cache => true, :recursive => true
    =javascript_include_tag :all, :cache => true, :recursive => true 
  %body
    .container_12
      .grid_12
        %h1#branding
          = link_to "Oilzilla", :controller => "home" 
      .clear
      .grid_12= render :partial => 'layouts/menu'
      .clear
      .grid_12
        %h2#page-heading= controller.controller_name.capitalize.humanize
      .clear
      - if flash[:error]
        .notice.grid_12
          .box
            %h2 Error
            .block
              %p=flash[:error]
        .clear
      - if flash[:notice]
        .notice.grid_12
          .box
            %h2 Notice
            .block
              %p=flash[:notice]
        .clear
      .grid_12
        = yield
      .clear
      .grid_12#site_info
        .box
          %p 2010 Oilzilla
      .clear
